.home__circles {
    display: flex;
    align-items: center;
    height: 12rem;

    &-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: .65rem;

        @include mq(md) {
            gap: .25rem;
            grid-template-columns: repeat(4, 1fr);
        }

        &-area {
            background-color: var(--background-circle);
            border-radius: 500px;
            height: 70px;
            width: 70px;
            display: block;
            margin: auto;
        }
    }
}