.home{    
    &__products{
        height: auto;
        padding: 0.75rem 0.5rem;

        @include mq(md) {
            height: 45rem;
        }

        .container {
            height: 100%;
        }

        &-content {
            display: flex;
            flex-direction: column;
            height: 100%;

            @include mq(md) {
                flex-direction: row;
            }
        }

        &-left {
            &-card {
                width: 16rem;
                
                @include mq(md) {
                    width: 19.58rem;
                }
                
                &-text {
                    color: var(--gray-500);
                    display: none;
                    padding: 0 .65rem;
                    position: relative;
                    top: -18rem;

                    h3 {
                        font-size: 1.35rem;
                        margin-bottom: 0.35rem;
                    }

                    p {
                        font-size: 1.2rem;
                    }
                }

                img {
                    height: 32rem;
                    border-radius: 0.25rem;
                    transition: all .5s;
                    &:hover {
                        transform: scale(0.95);
                        filter: brightness(0.25);
                        
                        + .home__products-left-card-text {
                            display: block;
                        }
                    }
                }
            }            
        }

        &-right {
            &-card {
                align-items: start;
                display: flex;
                flex-direction: column;
                margin-top: 5rem;
                margin-left: .85rem;
                justify-content: flex-start;

                h2 {
                    color: var(--gray-500);
                    font-size: 2rem;
                    margin-bottom: .75rem;
                }

                p {
                    color: var(--gray-500);
                    font-size: 1.25rem;
                    line-height: 1.35rem;
                    margin-bottom: .85rem;
                }

                button {
                    background-color: var(--gray-600);
                    border: none;
                    border-radius: .45rem;
                    color: var(--gray-500);
                    font-weight: 700;
                    padding: .45rem 1rem;
                    transition: filter .5s;

                    &:hover { 
                        cursor: pointer;
                        filter: brightness(0.95);
                    }
                }
            }
        }
    }
}