:root {
    --background: var(--gray-600);
    --font-color-text: var(--gray-500);
}

.home__about {
    background-color: var(--background);
    height: auto;

    @include mq(md) {
        height: 25rem;
    }
    
    &-row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 4.5rem .85rem 2.5rem;
        
        @include mq(md) {
            padding: 0 .85rem;
            grid-template-columns: repeat(2, 1fr);
        }

        &-text {            
            @include mq(md) {
                margin-top: 5rem;
            }

            h2 {
                font-size: 2.3rem;
                margin: 0.60rem 0;
            }
            
            h3 {
                font-size: 0.95rem;
                margin: 0;
            }
            
            p {
                font-size: 1rem;
                line-height: 1.25rem;
            }
            
            h2,
            h3,
            p {
                color: var(--font-color-text);
            }
        }

        &-card {
            align-items: center;
            display: flex;
            justify-content: center;
            margin-top: 1.55rem;
            &-content {
                width: 150px;
                img {
                    border-radius: 0.25rem;
                }

                h3 {
                    color: var(--font-color-text);
                    text-align: center;
                    margin-bottom: 0.25rem;
                }

                p {
                    color: var(--font-color-text);
                    text-align: center;
                }
            }
        }
    }
}